.win-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loose-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#restart-button {
    display: inline-block !important;
    width: 100px;
}

#gameover {
    width: 75vw;
}